body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
header{
  display: flex;
  height: 80px;
}
#logo_ford{
  background-color: #ffffff;
  padding: 10px; /*tamanho do item em relação ao box*/
  width: 10%;
  display: flex;
  align-items: center; /* Ajusta no eixo Y*/
}
nav {
  background-color: #ffffff;
  padding: 10px;
  position:fixed;
  width: 90%;
  z-index: 100;
}
nav ul{
    list-style: none;
    text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 15px
}

  h1 {
    color: #1351d8;
    text-align: center;
    display: inline-block;
  } 

  footer {color: #1351d8;
  }